<footer class="page-footer purple darken-1 no-padding">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Project Purple Planet</h5>
          <p class="grey-text text-lighten-4">Our mission is to build the world’s most simple and reliable, privacy
            respecting, project management platform — we make personal project management available to everyone who needs
            it. </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Authors</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/davidsaulrodriguez">David Rodriguez</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/sossw1">William Soss</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/JCyberAI">Jalyn Campbell</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2021 Project Purple Planet Group, All rights reserved.
        <div class="subfooter-links right">
          <a class="grey-text text-lighten-4" href="https://github.com/davidsaulrodriguez/project-purple-planet">View on
            GitHub</a> |
          <a class="grey-text text-lighten-4" href="https://github.com/davidsaulrodriguez/project-purple-planet/issues/new/choose">Report a Bug</a>
        </div>
      </div>
    </div>
  </footer>