<nav class="purple darken-1">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo center">Purple Planet</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
    </ul>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            {{!-- <img src=""> --}}
          </div>
          <img class="circle" src="/assets/imgs/logo.svg">
          <span class="white-text">Please Sign In</span>
        </div>
      </li>
      <li><a href="/login"><i class="material-icons">login</i>Login</a></li>
      <li><a href="/signup"><i class="material-icons">how_to_reg</i>Signup</a></li>
      <li><a href="https://github.com/davidsaulrodriguez/project-purple-planet"><i class="material-icons">code</i>Source Code</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>