<nav class="purple darken-1">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo center">Purple Planet</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/home">Home</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="boards">Boards</a></li>
      <li><a href="logout" title="Logout"><i class="material-icons">logout</i></a></li>
    </ul>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            {{!-- <img src=""> --}}
          </div>
          <img class="circle" src="./assets/imgs/logo.svg">
          <span class="white-text name" id="userId"></span>
          <span class="white-text email" id="userEmail"></span>
        </div>
      </li>
      <li><a href="home"><i class="material-icons">dashboard</i>Dashboard</a></li>
      <li><a href="boards"><i class="material-icons">developer_board</i> Boards</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="logout"><i class="material-icons">logout</i> Logout</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>