form.signup,
form.login {
  margin-top: 50px;
}

nav {
  .brand-logo {
    display: flex;
    img.logo {
      align-self: center;
      padding-right: 10px;
    }
  }
}
.no-padding {
  padding: 0 !important;
}

.splash-btn {
  margin-bottom: 10px;
  margin-right: 10px;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}

.start-splash-section {
  overflow: hidden;
  height:450px;
  .splash-image-container {
    width: 100%;
    max-width: 740px;
    height:720px;
  
    .splash-image {
      width: 100%;
    }
  }
}

.user-view {
  .background {
    background-color: #8e24aa;
  }
}

@media (max-width: 768px) {
  nav {
    .brand-logo {
      display: flex;
      font-size: 2.0rem;
      img.logo {
        align-self: center;
        padding-right: 10px;
      }
    }
  }
}