<main class="no-padding">
  <div class="section purple darken-1 z-depth-0 start-splash-section">
    <div class="container start-splash-container no-padding">
      <div class="row">
        <div class="col s12 l6">
          <h2 class="white-text">Simple Project Management</h2>
          <div class="white-text">
            <p class="flow-text">A simple, clean, lightweight &amp; FREE personal project and task manager!</p>
          </div>
          <a href="/signup" class="btn splash-btn pink lighten-2 z-depth-3 waves-effect waves-pink"><i class="material-icons">web</i>&nbsp;Try Now
            (Browser)</a> <a href="#" class="btn disabled splash-btn"><i class="material-icons">smartphone</i>&nbsp;Try
            Now (App)</a>
        </div>

        <div class="col s12 l6">
          <div class="splash-image-container">
            <img src="/assets/imgs/logo.svg" alt="Purple Planet logo" class="splash-image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section blue lighten-2">
    <div class="container no-padding">
      <div class="row">
        <div class="col s12 m4 center white-text">
          <i class="large material-icons">dashboard</i>
          <h3>User Dashboard</h3>
          <p>An intuative and easy to use user dashboard helps you manage the projects you want and keep track of the
            tasks assigned to them.</p>
        </div>
        <div class="col s12 m4 center white-text">
          <i class="large material-icons">task_alt</i>
          <h3>Task Oriented</h3>
          <p>Boards are the container of your project, but all projects are task oriented. Organize and manage your
            project like a boss!</p>
        </div>
        <div class="col s12 m4 center white-text">
          <i class="large material-icons">privacy_tip</i>
          <h3>Privacy First</h3>
          <p>We don't collect any personal identifying information. All that is required to get started is an email
            address and a password.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section purple accent-1">
    <div class="container center no-padding">
      <div class="row">
        <div class="col s12 center white-text">
          <h4><i class="medium material-icons">format_quote</i> Purple Planet is great! I've never used an easier project manager before in my life! I highly recomment it to all my friends, family and collegues.</h4>
          <p class="flow-text">- Ximena Rudy, CEO of ThriftyWitch, LLC.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section blue lighten-2">
    <div class="container no-padding">
      <div class="row">
        <div class="col s12 m6 center white-text">
          <i class="large material-icons">smartphone</i>
          <h3>Mobile App</h3>
          <p>A mobile app version is also in the works. Check back with us later on. We're hoping to get this app out with the next release.</p>
          <a href="#" class="btn disabled"><i class="material-icons">smartphone</i>&nbsp;Try
            Now (App)</a>
        </div>
        <div class="col s12 m6 center white-text">
          <i class="large material-icons">download</i>
          <h3>Open Source</h3>
          <p>This project is free and open source software. You can let us host your project or self-host if you so choose to.</p>
          <a href="https://github.com/davidsaulrodriguez/project-purple-planet/archive/main.zip" class="btn z-depth-2 purple accent-1 waves-effect waves-purple">Download Now!</a>
        </div>
      </div>
    </div>
  </div>

</main>